@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Cassette.cshtml";    
}

@Html.Partial("Header")

<div class="container-fluid">
    <div class="hero-unit">
        <h1>Welcome to ScaffR-Generated
            
        </h1>
        <small>The Quest for the Perfect Architecture</small>
    </div>
</div>

