@{
    ViewBag.Title = "Manage";
}

@section LeftColumn
{
    <ul class="nav nav-tabs nav-stacked">
        <li class="active">
            <a href="./dash.html">Dashboard <span class="label label-warning pull-right">1</span></a>
        </li>
        <li>
            <a href="./table.html">Table</a>
        </li>
        <li>
            <a href="./form.html">Form</a>
        </li>
        <li>
            <a href="./tab.html">Tabular &amp; Accordion</a>
        </li>
    </ul>
    <ul class="nav nav-tabs nav-stacked">

        <li>
            <a href="./account.html">User Account</a>
        </li>
        <li>
            <a href="./change_password.html">Change Password</a>
        </li>
    </ul>
    <form class="well form-search">
        <input type="text" class="search-query" style="width: 200px" placeholder="type and hit the enter key">
    </form>
}

<h3>User Signups</h3>
<br />
<table class="table table-bordered">
    <tr>
        <td width="20%">Today</td>
        <td>
            <div class="progress progress-warning">
                <div class="bar" style="width: 25%;">
                    &nbsp;
									
                </div>
            </div>
        </td>
        <td width="10%">15</td>
    </tr>
    <tr>
        <td>This Week</td>
        <td>
            <div class="progress progress-danger">
                <div class="bar" style="width: 45%;">
                    &nbsp;
									
                </div>
            </div>
        </td>
        <td>45</td>
    </tr>
    <tr>
        <td>This Month</td>
        <td>
            <div class="progress">
                <div class="bar" style="width: 65%;">
                    &nbsp;
									
                </div>
            </div>
        </td>
        <td>65</td>
    </tr>
    <tr>
        <td>Total Signups</td>
        <td>
            <div class="progress progress-success">
                <div class="bar" style="width: 95%;">
                    &nbsp;
									
                </div>
            </div>
        </td>
        <td>95</td>
    </tr>
</table>
