@import "../../variables.less";

@import "herounit.less";
@import "wells.less";

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 979px;
}


/*Friendship css*/
.all-friends {
    padding: 35px 0px 0px 0px;
}

    /*.all-friends [class*="span"] {
        margin-left: 0px !important;
    }*/

    .all-friends .row {
        margin: 0px 0px !important;
    }

    .all-friends .border {
        padding: 10px 0px !important;
        border-bottom: 1px solid #ccc;
        margin-left: 0px !important;
        margin-right: 40px;
    }

    .all-friends .thumbnail {
        width: 100px;
    }

    .all-friends .divThumbnail {
        float: left;
    }

.friendList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .friendList li {
        padding: 10px 10px 10px 0px;
        width: 470px;
        height: 100px;
        float: left;
        margin: 0px 100px 0px 0px !important;
        border-bottom: 1px solid #ccc;
    }

        .friendList li .span5 {
            float: right !important;
        }


		.myFriends-header h3 {
    margin: 0 auto;
    line-height: normal;
}

.friend-agreement-header {
    margin-top: -10px;
}

    .friend-agreement-header .border {
        padding: 10px 0px !important;
        border-bottom: 1px solid #ccc;
        margin-left: 0px !important;
        margin-right: 40px;
    }

    .friend-agreement-header .thumbnail {
        width: 100px;
    }

    .friend-agreement-header .divThumbnail {
        float: left;
    }

.friend-agreement-profile {
    margin-top: -60px;
}

.friend-agreement-table {
}

.friend-agreement-table tr{
}

.friend-agreement-table td{
    border: none;
    padding: 0;
}

.friend-agreement-table-last-td {
    text-align: center !important;
}

.friend-agreement-table-last-td input{
    float: none;
}



.friend_top_offset {
    margin-top: 10px !important;
}
/**End*/

.profile-services-ul {
    list-style: none;
}
