obj
bin
*.user
*.suo
*.orig
output
publish-*
packages
_ReSharper.*
*.Resharper
*.Cache
*.cache
~$*
*.t4properties
*/bin/*
*.suo
*/obj/*
*.suo
*.cache
*.mdf
*.ldf
DemoApplication/DemoApplication/Files/*.*
*/images/*_*_*.png
DemoApplication/DemoApplication/Content/images/*_2013_*.png
