@model DemoApplication.Models.Components.CKEditorModel
@{
    ViewBag.Title = "CKEditor";
}

<h2>CKEditor</h2>

@using (Html.BeginForm("CKEditor", "Components", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorForModel()
}
