
@using (Html.BeginForm("EditorTemplates", "Components", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.EditorForModel()

    <div class="form-actions">
        <button type="submit" class="btn btn-inverse btn-large">Submit</button>
    </div>
}
