@model DemoApplication.Models.Common.AddressModel

@{
    ViewBag.Title = "GoogleMaps";
    Bundles.Reference("googleMaps");    
}

<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h3>Google Maps</h3>
        </div>
        <div class="row-fluid">

            <div class="span12">
                
@using (Html.BeginForm("GoogleMaps", "Components", FormMethod.Post))
{
    @Html.EditorForModel()

    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-inverse">Submit</button>
    </div>
}

                
                            </div>

        </div>

    </div>
</div>
