@model DemoApplication.Models.Common.AddressModel

@{
    ViewBag.Title = "GoogleMaps";
    Bundles.Reference("googleMaps");    
}

<h2>Google Maps</h2>

@using (Html.BeginForm("GoogleMaps", "Components", FormMethod.Post))
{
    @Html.EditorForModel()

    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-inverse">Submit</button>
    </div>
}
