@using DemoApplication.Extensions.Sitemap
@using DemoApplication.Extensions
@model DemoApplication.Models.Users.UserViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="page-header">
    
    <h2 class="pull-left">@Model.FullName</h2>

    @Html.MvcSiteMap().Pills(SiteMap.Provider.FindSiteMapNodeFromKey("UserDetails"), true, true)
</div>

<div class="btn-group pull-right">
@*    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Action
    <span class="caret"></span>
    </a>*@
    <ul class="dropdown-menu">
        @if (Model.IsLockedOut)
        {
            <li><a href="#" id="lock-user"><i class="icon-lock"></i>Lock User</a></li>
        }
        else
        {
            <li><a href="#" id="unlock-user"><i class="icon-unlock"></i>Unlock User</a></li>
        }
    </ul>
</div>

@RenderBody()