@model DemoApplication.Models.Users.UserHistory

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Users/_AdminUserLayout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <td>Date</td>
            <td>Event Type</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>
                    @log.Created.ToString()
                </td>
                <td>
                    @log.Message
                </td>
            </tr>
        }
    </tbody>
</table>
