@{
    ViewBag.BodyClass = "error-page";
    ViewBag.Title = "Not Found";
}
<div class="boxed">
    <div class="container">
        <div class="row-fluid">
            <div class="span2" style="font-size: 24px; line-height: 1.5em;">
                <i class="icon-lock icon-4x"></i>
            </div>
            <div class="span10">
                <h1>Access Denied <span>:(</span></h1>
                <p class="text-error">Sorry, but you have no authorization to access this page.</p>    
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
            </div>   
        </div>
    </div>
</div>
