@model DemoApplication.Models.Account.ChangePasswordFromResetKeyModel

@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Please correct the following errors")
    @Html.AntiForgeryToken()

        @Html.EditorForModel()

       <div class="form-actions">
            <button class="btn btn-large btn-primary">Change Password</button>
        </div>
}