@model DemoApplication.Models.Account.LogOnModel
@{
    Layout = "~/Views/Shared/Cassette.cshtml";
    ViewBag.Title = "Login";
}

<div id="login">
    <h3>Login</h3>
    @using (Html.BeginForm("Logon", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "alert alert-block alert-error" })
           
        @Html.EditorForModel()           
                                             
        <a href="forgot_password.html">Forgot Password ?</a>

        <div class="pull-right">
            <button type="submit" class="btn btn-inverse btn-large">
                Login
				
            </button>
        </div>
            
    }
    ScaffR &copy; 2012
			<div class="pull-right">
                <a href="@Url.Action("Register")">Register</a>
            </div>
</div>
