@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Folder.cshtml";
    ViewBag.SitemapProvider = "Account";    
}
<h2>
    Notifications</h2>
<table class="table" id="notifications">
    <tr>
        <th>
            Account
        </th>
        <th class="right">
            Email
        </th>
    </tr>
    <tr>
        <td>
            Somebody does this..
        </td>
        <td class="right">
            <input type="checkbox" style="margin-right: 12px" />
        </td>
    </tr>
    <tr>
        <td>
            Somebody does this..
        </td>
        <td class="right">
            <input type="checkbox" style="margin-right: 12px" />
        </td>
    </tr>
    <tr>
        <td>
            Somebody does this..
        </td>
        <td class="right">
            <input type="checkbox" style="margin-right: 12px" />
        </td>
    </tr>
    <tr>
        <td>
            Somebody does this..
        </td>
        <td class="right">
            <input type="checkbox" style="margin-right: 12px" />
        </td>
    </tr>
</table>
