@model DemoApplication.Models.Account.ChangePasswordFromResetKeyModel
@{
    ViewBag.Title = "Create a new password";
}

@using (Html.BeginForm())
{
   @Html.ValidationSummary(true, "Please correct the following errors.", new { @class = "alert alert-block alert-error" })


        @Html.EditorForModel()

    @Html.HiddenFor(x=>x.Key)
    
     <div class="form-actions">
        <button class="btn btn-inverse btn-large">Change Password</button>
    </div>

}