@model DemoApplication.Models.Account.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Unable to retrieve password. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
    
    @Html.EditorForModel()
    <div class="form-actions">
        <button class="btn btn-inverse btn-large">Retrieve Password</button>
    </div>
}