@model DemoApplication.Core.Common.Photos.Photo

@{
    ViewBag.Title = "Update Profile Photo";
}

@using (Html.BeginForm("Photo", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row-fluid">

        <img src="@Url.Content(Model.Url)" alt="" class="img-polaroid"/>

    </div>
    <div class="form-actions">

        <span class="btn btn-inverse btn-large fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>Choose File</span>
            <input type="file" name="File">
        </span>

        <button type="submit" class="btn btn-inverse btn-large">
            Upload
        </button>
    </div>
}
