@model DemoApplication.Models.Account.ProfileModel
@{
    ViewBag.Title = "Edit Profile";
}


@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Unable to update profile. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
        
    @Html.EditorForModel()
        
    <div class="form-actions">
        <input type="submit" value="Update" class="btn btn-inverse btn-large" />
    </div>        
}                           