@model DemoApplication.Models.Account.ChangePasswordModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.SitemapProvider = "Account";
}

<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h3>Change Password</h3>
        </div>
        <div class="row-fluid">

            <div class="span12">

                @using (Html.BeginForm("Settings", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
            
                    @Html.EditorForModel()
        
                    <div class="form-actions">
                        <input type="submit" value="Change Password" class="btn btn-inverse btn-large" />
                    </div>                    
                }
            </div>

        </div>

    </div>
</div>

