@model DemoApplication.Models.Account.ChangePasswordModel
@{
    ViewBag.Title = "Change Security Settings";
}

@using (Html.BeginForm("Settings", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
            
    @Html.EditorForModel()
        
    <div class="form-actions">
        <input type="submit" value="Change Password" class="btn btn-inverse btn-large" />
    </div>                    
}
