<?xml version="1.0" encoding="utf-8"?>
<system.identityModel>
  <identityConfiguration>
    <claimsAuthenticationManager type="DemoApplication.Core.Common.Security.ClaimsTransformer, DemoApplication.Core" />
    <claimsAuthorizationManager type="DemoApplication.Core.Common.Security.AuthorizationManager, DemoApplication.Core">
      <policy resource="ManageUsers" action="View">    
          <claim claimType="http://claims/userId" claimValue="1" />
      </policy>
      <policy resource="TaskManager" action="View">
        <or>
          <claim claimType="http://claims/userId" claimValue="1" />
          <claim claimType="http://schemas.xmlsoap.org/claims/Group" claimValue="Administrator" />
        </or>
      </policy>
    </claimsAuthorizationManager>
    <securityTokenHandlers>
      <clear/>
      <add type="DemoApplication.Security.MachineKeySessionSecurityTokenHandler, DemoApplication" />
    </securityTokenHandlers>
  </identityConfiguration>
</system.identityModel>