<?xml version="1.0" encoding="utf-8"?>
<system.identityModel>
  <identityConfiguration>
    <claimsAuthenticationManager type="TaskForceManager.Core.Common.Security.ClaimsTransformer, TaskForceManager.Core" />
    <claimsAuthorizationManager type="TaskForceManager.Core.Common.Security.AuthorizationManager, TaskForceManager.Core">
      <policy resource="ManageUsers" action="View">    
          <claim claimType="http://claims/userId" claimValue="1" />
      </policy>
      <policy resource="TaskManager" action="View">
        <or>
          <claim claimType="http://claims/userId" claimValue="1" />
          <claim claimType="http://schemas.xmlsoap.org/claims/Group" claimValue="Administrator" />
        </or>
      </policy>
    </claimsAuthorizationManager>
  </identityConfiguration>
</system.identityModel>