<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.60.4609.17023" targetFramework="net45" />
  <package id="Cassette" version="2.0.0" targetFramework="net45" />
  <package id="Cassette.Aspnet" version="2.0.0" targetFramework="net45" />
  <package id="Cassette.Less" version="2.0.0" targetFramework="net45" />
  <package id="Cassette.Views" version="2.0.0" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Common.Logging.Log4Net1211" version="2.1.2" targetFramework="net45" />
  <package id="DotlessClientOnly" version="1.3.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net45" />
  <package id="RazorEngine" version="3.2.0" targetFramework="net45" />
  <package id="ScaffR" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.AngularJS" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Backend" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Bootstrap" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Bootstrap.JavaScript" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Bootstrap.Layouts" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Bootstrap.LESS" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Bootstrap.Sitemap" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Bootstrap.Templates" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Cassette" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Core" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Dashboard.Common" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Data.Common" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Data.EntityFramework" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Extensions" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.IdentityModel" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Infrastructure.Common" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Infrastructure.DI" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Infrastructure.Eventing" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Infrastructure.Pipeline" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.JavaScript" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.jQuery" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Less" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Lists" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Lists.Dropdowns" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Mail.Gmail" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Membership" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Membership.Common" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Membership.Core" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Membership.Mailers" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Membership.Photo" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Membership.Services" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.MVC" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.MVC.DataAnnotations" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.MVC.Normalize" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.MvcMailer" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Ninject" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Photos" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Photos.FileSystem" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Security" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Services" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Site" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.SiteInfo" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Sitemap" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Users.Core" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.Users.Service" version="1.1.4" targetFramework="net45" />
  <package id="ScaffR.WebApi" version="1.1.4" targetFramework="net45" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net45" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net45" />
  <package id="WebActivator" version="1.5.3" targetFramework="net45" />
</packages>