<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="DemoApplication">
      <section name="DemoApplication.Core" type="DemoApplication.Core.Configuration.CoreSection, DemoApplication.Core, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
      <section name="DemoApplication.Infrastructure" type="DemoApplication.Infrastructure.Configuration.InfrastructureSection, DemoApplication.Infrastructure, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Cassette.Views" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
      <add name="ClaimsTransformationModule" type="DemoApplication.Core.Common.Security.ClaimsTransformationHttpModule, DemoApplication.Core, Version=1.0.0.0, Culture=neutral" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </httpModules>
    <httpHandlers>
      <add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
    </httpHandlers>
    <siteMap defaultProvider="Modules" enabled="true">
      <providers>
        <add name="System" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Sitemaps/System.Sitemap" securityTrimmingEnabled="false" cacheDuration="1" attributesToIgnore="visibility" siteMapNodeVisibilityProvider="DemoApplication.Security.WIFVisibilityModule, DemoApplication" />
        <add name="Public" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Sitemaps/Public.Sitemap" securityTrimmingEnabled="false" cacheDuration="1" attributesToIgnore="visibility" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" />
        <add name="Modules" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Sitemaps/Modules.Sitemap" securityTrimmingEnabled="false" cacheDuration="1" attributesToIgnore="visibility" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" />
        <add name="Account" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Sitemaps/Account.Sitemap" securityTrimmingEnabled="false" cacheDuration="1" attributesToIgnore="visibility" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" />
      </providers>
    </siteMap>
    <machineKey validationKey="35B52F08D7D2C3B975CA2F9FFB7EA66AF343F12B4BD8338A2E7A84854F1804635F30DDEA41686897DCDFBFB468DC4661699AAFFF29DAFB37C132831D9EBA5B0C" decryptionKey="BB0C842FED191AAC44B3F7AD4D921E0E27B7A016900D6A6B" validation="SHA1" />

    <authentication mode="Forms">
      <forms loginUrl="/Account/Logon" timeout="2880" defaultUrl="/Dashboard" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
      <add name="ClaimsTransformationModule" type="DemoApplication.Core.Common.Security.ClaimsTransformationHttpModule, DemoApplication.Core, Version=1.0.0.0, Culture=neutral" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </modules>
  </system.webServer>
  <DemoApplication>
    <DemoApplication.Core>
      <site email="webmaster@DemoApplication.com" websiteName="Demo Application" companyName="Demo Application" />
      <security securityLevel="None" />
      <photos defaultProvider="FileSystem">
        <PhotoResize>
          <add name="Thumbnail" width="14" height="14" />
          <add name="Tiny" width="70" height="70" />
          <add name="Small" width="160" height="160" />
          <add name="Medium" width="270" height="270" />
          <add name="Large" width="400" height="400" />
        </PhotoResize>
        <providers>
          <add name="FileSystem" type="DemoApplication.Core.Common.Photos.Providers.FileSystemProvider, DemoApplication.Core, Version=1.0.0.0, Culture=neutral" imageFolder="~/Content/images" />
        </providers>
      </photos>
    </DemoApplication.Core>
    <DemoApplication.Infrastructure></DemoApplication.Infrastructure>
  </DemoApplication>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="dotless.ClientOnly" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="webmaster@scaffr.com" deliveryMethod="Network">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="webmaster@scaffr.com" password="1scool!!" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="DemoApplication.Data.DataContext, DemoApplication.Data, Version=1.0.0.0, Culture=neutral">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[DemoApplication.Data.DataContext, DemoApplication.Data], [DemoApplication.Data.Migrations.Configuration, DemoApplication.Data, Version=1.0.0.0, Culture=neutral]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
  <system.identityModel configSource="identity.config" />
  <system.identityModel.services configSource="identityServices.config" />
  <connectionStrings>
    <add name="DataContext" connectionString="Server=(LocalDB)\v11.0;Initial Catalog=DemoApplication;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>