@model DemoApplication.Models.Sitemap.SitemapHelperModel


<div class="breadcrumb container-fluid">
    @foreach (var node in Model) { 
    @Html.DisplayFor(m => node);
    
    if (node != Model.Last()) {
        <text> &gt; </text>
    }
}
</div>
