@model DemoApplication.Models.Sitemap.SitemapHelperModel

<ul class="nav nav-pills">
    @foreach (var node in Model.Nodes)
    {            
        <li class="@(node.IsActiveNode(ViewContext) ? "active" : "")"><a href="@node.Url">@node.Title</a></li>            
    }
</ul>
