@model DemoApplication.Models.Sitemap.SitemapHelperModel

<ul class="nav nav-pills">
    @foreach (var node in Model.Nodes)
    {            
        <li class="@Html.AddClass("active", node.IsCurrentNode || node.IsInCurrentPath && !node.IsRootNode)"><a href="@node.Url">@node.Title</a></li>            
    }
</ul>
