@using DemoApplication.Extensions.SitemapHelpers
@model DemoApplication.Models.Sitemap.SitemapHelperModel

@{
    var topLevel = Model.Nodes;
    var activeNode = topLevel.FirstOrDefault(x => x.IsActiveNode(ViewContext));                                                
}
<!--  Need to create a sub menu view to generate menu  -->


@if (activeNode != null)
{
    <div id="sub-menu">

        <ul class="nav nav-pills">

            @foreach (var child in activeNode.Children)
            {
                if (child.IsActiveNode(ViewContext))
                {
                    foreach (var secondchild in child.Children)
                    {
                        <li class="@((secondchild.IsCurrentNode || secondchild.IsInCurrentPath) ? "active" : "")">
                            <a href="@secondchild.Url">@secondchild.Title</a>
                        </li>
                    }
                }
            }

        </ul>
    </div>
}
