@model DemoApplication.Models.Sitemap.SitemapHelperModel
<ul class="nav nav-tabs">
    @foreach (var node in Model)
    {
        <li class="@Html.AddClass("active", node.IsCurrentNode || node.IsInCurrentPath && !node.IsRootNode)"><a href="@node.Url">@node.Title</a></li>
    }
</ul>
