@{
    ViewBag.Title = "Promote";
}

<form class="">

    <div class="controls">
        <button class="btn btn-primary">
            Post to AirBNB
        </button>
    </div>
    <br/>
    <div class="controls">
        <button class="btn btn-primary">
            Post to Craigslist
        </button>
    </div>
    <br/>
     <div class="controls">
        <button class="btn btn-primary">
            Post to YouTube
        </button>
    </div>
</form>
