@{
    ViewBag.Title = "Rates";
}

<form class="form-horizontal">
    <label class="control-label">
        Date
    </label>
    <div class="controls">
        <input type="text"/>
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-primary">Submit</button>
    </div>
</form>