@model DemoApplication.Models.Common.AddressModel

<div class="control-group">
    <div class="input-append">        
        @Html.TextBoxFor(x=>x.Address, new{data_address=true, @class="input-xxlarge"})
    </div>
    @Html.EditorFor(x => x.Location)
</div>

