@if (TempData["Success"] != null)
{            
    <div class="container-fluid">
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    </div>         
}
@if (TempData["Error"] != null)
{                
    <div class="container-fluid">
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    </div>
}