@using DemoApplication.Extensions.Sitemap
@using MvcSiteMapProvider.Web.Html
@{
    if (ViewBag.SitemapProvider == null)
    {
        ViewBag.SitemapProvider = "Modules";
    }
	Layout = "~/Views/Shared/Bootstrap/Layout.cshtml";
}
<div class="row-fluid">
    <div class="span2">
        
        @{
            SiteMapProvider provider = SiteMap.Providers[ViewBag.SitemapProvider];
        }
        @Html.MvcSiteMap(provider).Pills(0, true, true, 1)
    </div>
    <div class="span10" id="mainPanel">
        @if (ViewBag.ShowBreadcrumb == true)
        {
            @Html.MvcSiteMap((string)ViewBag.SitemapProvider).Breadcrumb()
        }                        
        <div class="row-fluid">            
            @RenderBody()
        </div>
    </div>
</div>