@using ParadiseBookers.Models.Account
@using ParadiseBookers.Models.Account
@{
    var data = ((VerifyAccountModel) ViewBag.Data);
}

Somebody with your email address recently signed up for ....

<table>
    <tr>
        <td>Verification Url</td>
        <td>@data.VerificationUrl</td>
    </tr>
</table>