@{
    ViewBag.Title = "Not Found";
    ViewBag.BodyClass = "error-page";
}
<div class="boxed">
    <div class="container">
        
        <div class="row-fluid">
            <div class="span2" style="font-size: 22px; line-height: 1.5em;">
                <i class="icon-question-sign icon-4x"></i>
            </div>
            <div class="span10">
                <h1>Not found <span>:(</span></h1>
                <p>Sorry, but the page you were trying to view does not exist.</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12"></div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <p>It looks like this was the result of either:</p>
                <ul>
                    <li>a mistyped address</li>
                    <li>an out-of-date link</li>
                </ul>
                <script>
                    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0, 2), GOOG_FIXURL_SITE = location.host;
                </script>
                <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>      
            </div>   
        </div>
    </div>
</div>
